:host {
  display: block;
}
::ng-deep {
  .collection-container {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
    position: relative;
    gap: 10px;
    padding: 10px;
    item-generator {
      flex: auto;
      display: block;
    }
    .template-container {
      // width: 100%;
    }
  }
}
