.hero-table-wrapper {
  position: relative;
}
table.ngx-hero-table {
  width: 100%;
  border-collapse: collapse;
  // border-collapse: separate;
  // border-spacing: 2px;
  border: 1px #2196f3 solid;
  thead {
    background-color: beige;
  }
  th,
  td {
    min-width: 32px;
    min-height: 32px;
    padding: 8px 5px;
  }
}

.table-toolbar {
  position: absolute;
  background: var(--side-config-bg);
  color: var(--side-config-fg);
  padding: 5px 15px;
  border-radius: 5px;
  display: flex;
  min-width: max-content;
  &.hide {
    display: none;
  }
  button {
    background: none;
    color: inherit;
    border: none;
    flex-shrink: 0;
    &:hover {
      background: color-mix(in srgb, var(--side-config-bg), #000 60%);
    }
  }
  svg {
    fill: var(--side-config-fg);
    width: 24px;
    height: 24px;
  }
}

.selection-range {
  position: absolute;
  outline: 2px solid #ff8900;
  pointer-events: none;
}

ngx-page-preview {
  td,
  th {
    border: #000 solid 1px;
  }
}
