.ngx-page-builder {
  /* page sizes */
  --a4-width: 210mm;
  --a4-height: 290mm; // 297mm;
  --a5-width: 148mm;
  --a5-height: 210mm;
  --letter-width: 216mm;
  --letter-height: 279mm;

  --active-button: #0040ff;

  --tools-bg: #282828;
  --toolbar-bg: #353535;
  --toolbar-fg: #ffffff;
  --tools-fg: #fff;

  --side-config-width: 300px;
  --side-config-fg: #fff;
  --side-config-bg: #1f2937;

  --tools-border: 1px solid #eeeeee76;
  --page-padding: 0px;

  --toolbar-width: 60px;
  --toolbar-sticky-offset: 0;
  --topbar-height: 28px;
}
.paper {
  display: flex;
  flex-direction: column;
  border: var(--tools-border);
  background: #fff;
  width: var(--a4-width);
  min-height: var(--a4-height);
  margin: 0 auto;
  padding: var(--page-padding);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 26%);
  &.A4.Portrait {
    width: var(--a4-width);
    min-height: var(--a4-height);
  }
  &.A4.Landscape {
    width: var(--a4-height);
    min-height: var(--a4-width);
  }
  &.A5.Portrait {
    width: var(--a5-width);
    min-height: var(--a5-height);
  }
  &.A5.Landscape {
    width: var(--a5-height);
    min-height: var(--a5-width);
  }
  &.Letter.Portrait {
    width: var(--letter-width);
    min-height: var(--letter-height);
  }
  &.Letter.Landscape {
    width: var(--letter-height);
    min-height: var(--letter-width);
  }

  .page-body {
    min-height: calc(var(--a5-height) / 2);
    flex: auto;
  }

  img,
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}
.paper-inner {
  min-height: inherit;
}
::ng-deep {
  .ngx-page-builder {
    table.ngx-page-table {
      width: 100%;
      border-spacing: 0;
      border: 0;
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .page-break {
      page-break-after: always !important;
    }
    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }

    table.ngx-page-table th.repeatable-header {
      text-align: start;
      max-height: 270px; /* maximum browser page header */
      overflow: hidden;
      display: block;
      // img {
      //   max-height: 270px;
      // }
    }
  }
  @media print {
    body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    &.paper,
    .paper {
      display: block !important;
      width: 100% !important;
      padding: 0 !important;
      border: none !important;
      box-shadow: none !important;
    }
    html,
    body {
      min-height: 100%;
      min-width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}
