.ngx-page-builder {
  /* page sizes */
  --a4-width: 210mm;
  --a4-height: 297mm;
  --a5-width: 148mm;
  --a5-height: 210mm;
  --letter-width: 216mm;
  --letter-height: 279mm;
  --tools-bg: #282828;
  --toolbar-bg: #353535;
  --toolbar-fg: #ffffff;
  --tools-fg: #fff;
  --properties-fg: #fff;
  --properties-bg: #1f2937;
  --tools-border: 1px solid #eeeeee76;
  --active-button: #0040ff;
  --page-padding: 0px;
  --toolbar-height: 40px;
  --toolbar-sticky-offset: 0;
}
.paper {
  display: flex;
  flex-direction: column;
  border: var(--tools-border);
  background: #fff;
  width: var(--a4-width);
  min-height: var(--a4-height);
  margin: 0 auto;
  padding: var(--page-padding);
  box-shadow: 0px 0px 10px rgb(0 0 0 / 26%);
  &.A4.Portrait {
    width: var(--a4-width);
    min-height: var(--a4-height);
  }
  &.A4.Landscape {
    width: var(--a4-height);
    min-height: var(--a4-width);
  }
  &.A5.Portrait {
    width: var(--a5-width);
    min-height: var(--a5-height);
  }
  &.A5.Landscape {
    width: var(--a5-height);
    min-height: var(--a5-width);
  }
  &.Letter.Portrait {
    width: var(--letter-width);
    min-height: var(--letter-height);
  }
  &.Letter.Landscape {
    width: var(--letter-height);
    min-height: var(--letter-width);
  }

  .page-body {
    min-height: calc(var(--a5-height) / 2);
    flex: auto;
  }

  img,
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}
.paper-inner {
  min-height: inherit;
}
::ng-deep {
  .ngx-page-builder {
    table.ngx-page-table {
      width: 100%;
      border-spacing: 0;
      border: 0;
      margin: 0;
      padding: 0;
      height: 100%;
    }

    .page-break {
      page-break-after: always !important;
    }
    table.ngx-page-table th {
      text-align: start;
    }
    img,
    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
  @media print {
    body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }

    &.paper,
    .paper {
      display: block !important;
      width: 100% !important;
      padding: 0 !important;
      border: none !important;
      box-shadow: none !important;
    }
    html,
    body {
      min-height: 100%;
      min-width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}
