<div class="inner">
  @if (item) {
    <p>{{ item.tag }}</p>
    <p>{{ item.id }}</p>
    @if (item.CanBeSetContent) {
      <text-binding [item]="item" (change)="onChangeProperties()"></text-binding>
    }
    <details>
      <summary>Display</summary>
      <display-control [(ngModel)]="item" (change)="onChangeProperties()"></display-control>
    </details>

    <details>
      <summary>Size</summary>
      <size-control [(ngModel)]="item" (change)="onChangeProperties()"></size-control>
    </details>

    <details>
      <summary>Spacing</summary>
      <spacing-control [(ngModel)]="item" (change)="onChangeProperties()"></spacing-control>
    </details>
    <details>
      <summary>Typography</summary>
      <typography-control [(ngModel)]="item" (change)="onChangeProperties()"></typography-control>
    </details>
    <details>
      <summary>Background</summary>
      <background-control [(ngModel)]="item" (change)="onChangeProperties()"></background-control>
    </details>
    <details>
      <summary>Advanced</summary>
      <textcss-control [(ngModel)]="item" (change)="onChangeProperties()"></textcss-control>
    </details>
  } @else {
    <p>None selected block.</p>
  }
</div>
