<div class="inner">
  @if (item) {
    <p>{{ item.tag }}</p>

    <details name="block-properties" (toggle)="openPanel(display)" #display>
      <summary>Display</summary>
      @if (display.open) {
        <display-control [(ngModel)]="item" (change)="onChangeProperties()"></display-control>
      }
    </details>

    <details name="block-properties" (toggle)="openPanel(size)" #size>
      <summary>Size</summary>
      @if (size.open) {
        <size-control [(ngModel)]="item" (change)="onChangeProperties()"></size-control>
      }
    </details>

    <details name="block-properties" (toggle)="openPanel(spacing)" #spacing>
      <summary>Spacing</summary>
      @if (spacing.open) {
        <spacing-control [(ngModel)]="item" (change)="onChangeProperties()"></spacing-control>
      }
    </details>
    <details name="block-properties" (toggle)="openPanel(typography)" #typography>
      <summary>Typography</summary>
      @if (typography.open) {
        <typography-control [(ngModel)]="item" (change)="onChangeProperties()"></typography-control>
      }
    </details>
    <details name="block-properties" (toggle)="openPanel(background)" #background>
      <summary>Background</summary>
      @if (background.open) {
        <background-control [(ngModel)]="item" (change)="onChangeProperties()"></background-control>
      }
    </details>
    <details name="block-properties" (toggle)="openPanel(shadow)" #shadow>
      <summary>Shadow</summary>
      @if (shadow.open) {
        <shadow-control [(ngModel)]="item" (change)="onChangeProperties()"></shadow-control>
      }
    </details>
    <details name="block-properties" (toggle)="openPanel(advanced)" #advanced>
      <summary>Advanced</summary>
      @if (advanced.open) {
        <textcss-control [(ngModel)]="item" (change)="onChangeProperties()"></textcss-control>
      }
    </details>
  } @else {
    <p>None selected block.</p>
  }
</div>
