.class-chips {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  background: color-mix(in srgb, var(--side-config-bg), #000 18%);
  border-radius: 5px;
  margin-bottom: 15px;
  .chips {
    position: relative;
    border: 1px solid #aeaeae;
    background-color: #fff;
    color: #000;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all 300ms;
    &:hover {
      cursor: pointer;
      background-color: #aeaeae;
    }
    &.active {
      background-color: var(--active-button);
      color: var(--active-button-fg);
      border-color: var(--active-button);
      color: #fff;
    }

    .chips-remove {
      all: unset;
      background: #ff0066;
      border-radius: 50px;
      position: absolute;
      top: -6px;
      right: -6px;
      width: 20px;
      height: 20px;
      display: grid;
      place-items: center;
      cursor: pointer;
    }
    svg {
      width: 16px;
      height: 16px;
    }
    &.plus {
      width: 28px;
      height: 28px;
      border-radius: 100%;
      max-width: 28px;
      max-height: 28px;
      padding: 0;
      display: grid;
      place-items: center;
      svg {
        fill: #000;
      }
    }
  }
}
