page-column {
  display: block;
  padding: 12px 0;
  position: relative;
  .flex-row {
    display: flex;
    .col-item {
      position: relative;
      flex: auto;
    }
  }

  .action-container {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: -15px;
    transition: all 300ms;
    pointer-events: none;
  }
  &:hover {
    .action-container {
      display: flex;
    }
  }
  .btn-add-column {
    background-color: #5100ff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms;
    width: 30px;
    height: 30px;
    fill: #fff;
    color: #fff;
    pointer-events: auto;
    &:hover {
      cursor: pointer;
      background-color: #7a33ff;
    }
  }
}
.show-outlines {
  .col-item {
    border: 1px solid #003bff;
    padding: 10px;
    flex: auto;
    min-height: 40px;
  }
}
