@if(spacing){
<table class="spacing-table">
  <tbody>
    <tr>
      <th colspan="2" align="start">Margin: {{ style?.margin }}</th>
    </tr>
    @for (direction of ['top', 'right', 'bottom', 'left']; track $index) {
    <ng-container>
      <ng-container
        *ngTemplateOutlet="
          spacingControl;
          context: {
            spacing: spacing.margin,
            unit: spacing.margin.unit,
            key: 'margin',
            direction: direction
          }
        "
      ></ng-container>
    </ng-container>
    }

    <tr>
      <th colspan="2" align="start">Padding: {{ style?.padding }}</th>
    </tr>
    @for (direction of ['top', 'right', 'bottom', 'left']; track $index) {
    <ng-container>
      <ng-container
        *ngTemplateOutlet="
          spacingControl;
          context: {
            spacing: spacing.padding,
            unit: spacing.padding.unit,
            key: 'padding',
            direction: direction
          }
        "
      ></ng-container>
    </ng-container>
    }
  </tbody>
</table>
}
<ng-template
  #spacingControl
  let-spacing="spacing"
  let-unit="unit"
  let-key="key"
  let-direction="direction"
>
  <tr>
    <td>
      <label for="{{ key }}-{{ direction }}">{{ direction | titlecase }}:</label>
    </td>
    <td>
      <div class="input-group">
        <input
          id="{{ key }}-{{ direction }}"
          [type]="unit != 'auto' ? 'number' : 'text'"
          [(ngModel)]="spacing[direction]"
          (ngModelChange)="update()"
          [min]="key === 'padding' ? 0 : undefined"
          [disabled]="spacing[unit] == 'auto'"
          [readonly]="spacing[unit] == 'auto'"
        />
        <select
          [(ngModel)]="spacing['unit']"
          (ngModelChange)="onChangeUnit(spacing, direction)"
          [name]="'unit-' + direction"
        >
          <option value="auto">Auto</option>
          <option value="px">px</option>
          <option value="em">em</option>
          <option value="rem">rem</option>
          <option value="%">%</option>
        </select>
      </div>
    </td>
  </tr>
</ng-template>
