@if (spacing) {
  <table class="properties-table">
    <tbody>
      <tr>
        <th colspan="2" align="start">Margin: {{ style?.margin }}</th>
      </tr>
      @for (direction of ['top', 'right', 'bottom', 'left']; track $index) {
        <ng-container>
          <ng-container
            *ngTemplateOutlet="
              spacingControl;
              context: {
                spacing: spacing.margin,
                key: 'margin',
                direction: direction,
              }
            "
          ></ng-container>
        </ng-container>
      }
    </tbody>
  </table>

  <table class="properties-table">
    <tbody>
      <tr>
        <th colspan="2" align="start">Padding: {{ style?.padding }}</th>
      </tr>
      @for (direction of ['top', 'right', 'bottom', 'left']; track $index) {
        <ng-container>
          <ng-container
            *ngTemplateOutlet="
              spacingControl;
              context: {
                spacing: spacing.padding,
                key: 'padding',
                direction: direction,
              }
            "
          ></ng-container>
        </ng-container>
      }
    </tbody>
  </table>
}
<ng-template #spacingControl let-spacing="spacing" let-key="key" let-direction="direction">
  @if (spacing[direction]) {
    <tr>
      <td>
        <label for="{{ key }}-{{ direction }}">{{ direction | titlecase }}:</label>
      </td>
      <td>
        <div class="pi-group">
          <input
            id="{{ key }}-{{ direction }}"
            name="{{ key }}-{{ direction }}"
            [type]="spacing[direction].unit != 'auto' ? 'number' : 'text'"
            [(ngModel)]="spacing[direction].value"
            (ngModelChange)="update()"
            [min]="key === 'padding' ? 0 : undefined"
            [disabled]="spacing[direction].unit == 'auto'"
            [readonly]="spacing[direction].unit == 'auto'"
          />
          <select
            [(ngModel)]="spacing[direction].unit"
            (ngModelChange)="onChangeUnit(spacing, direction)"
            [attr.name]="'unit-' + direction"
            class="unit"
          >
            <option value="auto">Auto</option>
            <option value="px">px</option>
            <option value="em">em</option>
            <option value="rem">rem</option>
            <option value="%">%</option>
          </select>
          <button class="btn-clear" type="button" (click)="clear(spacing, direction)">x</button>
        </div>
      </td>
    </tr>
  }
</ng-template>
