.block-selector {
  position: absolute;
  pointer-events: none;
  border-radius: 5px;
  outline: 2px solid #0073ff;
  outline-offset: 1px;
  .actions {
    position: absolute;
    pointer-events: auto;
    background-color: #0073ff;
    color: #fff;
    padding: 5px;
    height: 28px;
    top: -28px;
    left: 5px;
    display: inline-flex;
    overflow: hidden;
    max-width: 50%;
    border-radius: 5px 5px 0 0;
    align-items: center;
    min-width: 100px;
    gap: 4px;
    &.bottom {
      top: auto;
      bottom: -34px;
      border-radius: 0 0 5px 5px;
    }
    button {
      background: none;
      border: none;
      min-width: 26px;
    }
    svg {
      fill: #fff;
    }
    span.id {
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden;
    }
    span.tag {
      color: #3e3d4a;
    }
  }
}
