@if (item) {
  <div
    class="block-selector"
    [style.left.px]="x"
    [style.top.px]="y"
    [style.width.px]="width"
    [style.height.px]="height"
  >
    <div class="actions" [class.bottom]="showInBottom">
      @if (!item.disableDelete) {
        <button type="button" (click)="deleteBlock()">
          <svg Icon="assets/icons/trash.svg"></svg>
        </button>
      }

      <span class="tag">{{ item.tag ? item.tag : item.customComponent?.componentKey }}</span>
      <span class="id">{{ item.id }}</span>
    </div>
  </div>
}
