@if (item) {
  <div class="class-chips">
    @for (item of item.classList; track $index; let i = $index) {
      <span class="chips" (click)="onSelectClass(item)" [class.active]="item == activeClass">
        <button type="button" (click)="remove(i)" class="chips-remove">
          <svg Icon="assets/icons/xmark.svg"></svg>
        </button>
        {{ item }}
      </span>
    }

    @if (showAddClassBtn) {
      <span class="chips plus" (click)="showAddClassBtn = false">
        <svg Icon="assets/icons/plus.svg"></svg>
      </span>
    } @else {
      <div class="pi-group">
        <select name="classlist" (change)="onAddClass($event)">
          @for (item of cls.availableClasses; track $index) {
            <option [value]="item">{{ item }}</option>
          }
        </select>
      </div>
    }
  </div>
}
