.page-builder-tabs {
  display: flex;
  .tab-item {
    flex: auto;
    background-color: var(--toolbar-bg);
    color: var(--toolbar-fg);
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    &.active {
      background: var(--active-button);
      color: var(--active-button-fg);
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
.page-builder-tab-content {
}
